
img {
    width: 7em;
    height: 7em;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}


header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

}

.header-links {
    display: flex;
    gap: 20px;
    margin-right: 5em;
    font-size: 1vw;
    /*font-size: clamp(1vw, 18px, 18px);*/
    color: #E5E7EB;
}

.header-logo {
    margin-left: 1.5em;
    font-size: 1.8vw;
    /*font-size: clamp(1.8vw, 24px, 24px);*/
    color: #F9FAF8;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 0px;
    width: 15em;
    height: 2em;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    padding: 1em;
    padding-top: 3em;
    flex-grow: 1;
    display: flex;
}

.home {
    /*background-color: #28384e;*/
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-grow: 1;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.head-text {
    font-size: 48px;
    font-weight: bolder;
    color: #1f2937;
}

.head-subtext {
    font-size: 18px;
    color: grey;
    padding: 20px;
    padding-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 50vw;
}

#head-pic {
    width: 20em;
    height: 25em;
    padding: 20px;
    border-radius: 50px;
}

.head-pic {
    display: flex;
    justify-content: center;
}

.head-links {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hobbies {
    flex-direction: column;
    padding-left: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.hobbies-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: whitesmoke;
}

.hobbies-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 250px;
    background-color: white;
}

.hobbies-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 2.5em;
    justify-content: center;
}


.skills {
    flex-direction: column;
    background-color: whitesmoke;
}

.skills-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.skill-cardspace {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}


.skill-card {
    background-color: white;
    flex-grow: 0;
    margin: 10px;
    min-width: 20em;
    min-height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.card-bar {
    width: 25%;
    height: 60%;
    background-color: #3882F6;
}

.python {
    height: 75%;
}

.html {
    height: 55%;
}

.css {
    height: 55%;
}

.js {
    height: 70%;
}

.active-head {
    font-weight: bold;
    text-decoration: underline;
}

.hide {
    display: none;
}
